<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', {nameStyle: 'register' , titleHTML: 'Edición de Productos' }) %>
</head>

<body>
  <%- include('./partials/header') %>

    <main>
      <section>
        <div class="mensaje">
          <h2>Editá producto: <%= product.name %></h2>
        </div>
        <br>
        <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="nombreDeProducto">
            <label for="nombreDeProducto">Nombre de Producto</label>
            <input type="text" name="nombreDeProducto" id="nombreDeProducto" value="<%= product.name %>" />
          </div>
          <div class="marca">
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca" value="<%= product.brand %>" />
          </div>
          <div class="precio">
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" value="<%= product.price %>" />
          </div>
          <div class="color">
            <label for="color">Color del cristal</label>
            <select name="color" id="color" value="<%= product.color %>">
              <option> Verde</option>
              <option> Azul</option>
              <option> Marrón</option>
              <option> Negro</option>
              <option> Magenta</option>
            </select>
          </div>
          <div class="descripcion">
            <textarea name="descripcion" id="descripcion" cols="30" rows="10"><%= product.description %></textarea>
          </div>
          <div class="imagen">
            <label for="imagen">Imagenes del producto</label>
            <img src="<%= '/images/productos/' %><%= product.images[0] %>" alt="Imagen 1 del producto" class="img-miniatura">
            <img src="<%= '/images/productos/' %><%= product.images[1] %>" alt="Imagen 2 del producto" class="img-miniatura">
            <img src="<%= '/images/productos/' %><%= product.images[2] %>" alt="Imagen 3 del producto" class="img-miniatura">
            <img src="<%= '/images/productos/' %><%= product.images[3] %>" alt="Imagen 4 del producto" class="img-miniatura">
          <br>
          <br>
          <button type="submit" class="boton" required>Guardar</button>
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>