<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', {nameStyle: 'productDetail' }) %>
</head>

<body>
    <%- include('./partials/header') %>

        <!-- 
    <main>
      <section class="producto">
        <img src="/images/anteojos.jpg" class="foto-producto" />
      </section>
    </main> 
    -->
        <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src="/images/productos/<%= product.images[0].file_name %>" width="100%" id="ProductImg" />
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="/images/productos/<%= product.images[0].file_name %>" width="100%" class="small-img" />
                        </div>
                        <div class="small-img-col">
                            <img src="/images/productos/<%= product.images[1].file_name %>" width="100%" class="small-img" />
                        </div>
                        <div class="small-img-col">
                            <img src="/images/productos/<%= product.images[2].file_name %>" width="100%" class="small-img" />
                        </div>
                        <div class="small-img-col">
                            <img src="/images/productos/<%= product.images[3].file_name %>" width="100%" class="small-img" />
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <p>Home / Anteojos de Sol / Rayban</p>
                    <h1>
                        <%= product.name %>
                    </h1>
                    <h4>$<%= product.price %>00</h4>
                    <select>
                        <option>
                            <%= product.color %>
                        </option>

                    </select>


                    <input type="number" value="1">
                    <a href="" class="btn">Agregar al carrito</a>
                    <h3>Detalle del producto<i class="fa fa-indent"></i>
                    </h3>
                    <br>
                    <p>
                        <%= product.description %>
                    </p>

                    </input>
                    <br>
                    <a href="/products/edit/<%= product.id %>" class="btn">Editar</a>
                    <a href="/products/delete/<%= product.id %>" class="btn">Eliminar</a>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>
</body>

</html>