<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', {nameStyle: 'productDetail' }) %>
</head>

<body>
    <%- include('./partials/header') %>

        <!-- 
    <main>
      <section class="producto">
        <img src="/images/anteojos.jpg" class="foto-producto" />
      </section>
    </main> 
    -->
        <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src="/images/<%= product.images[0] %>" width="100%" id="ProductImg" />
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="/images/<%= product.images[0] %>" width="100%" class="small-img" />
                        </div>
                        <div class="small-img-col">
                            <img src="/images/<%= product.images[1] %>" width="100%" class="small-img" />
                        </div>
                        <div class="small-img-col">
                            <img src="/images/<%= product.images[2] %>" width="100%" class="small-img" />
                        </div>
                        <div class="small-img-col">
                            <img src="/images/<%= product.images[3] %>" width="100%" class="small-img" />
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <p>Home / Anteojos de Sol / Rayban</p>
                    <h1>
                        <%= product.name %>
                    </h1>
                    <h4>$<%= product.price %>00</h4>
                    <select>
                        <option>Seleccione Color</option>
                        <option>Polarizado Azul</option>
                        <option>Polarizado Marron</option>
                    </select>
                    <input type="number" value="1">
                    <a href="" class="btn">Agregar al carrito</a>
                    <h3>Detalle del producto<i class="fa fa-indent"></i>
                    </h3>
                    <br>
                    <p>
                        <%= product.description %>
                    </p>

                    </input>
                </div>

            </div>
        </div>
        <script>
            var ProductImg = document.getElementById("ProductImg");
            var SmallImg = document.getElementsByClassName("small-img");

            SmallImg[0].onclick = function () {
                ProductImg.src = SmallImg[0].src;
            }
            SmallImg[1].onclick = function () {
                ProductImg.src = SmallImg[1].src;
            }
            SmallImg[2].onclick = function () {
                ProductImg.src = SmallImg[2].src;
            }
            SmallImg[3].onclick = function () {
                ProductImg.src = SmallImg[3].src;
            }
        </script>
        <%- include('./partials/footer') %>
</body>

</html>