<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-6 col-lg-4">
                <h1 class=" mb-5">Creá tu cuenta</h1>
                <form action="/auth/register" method="POST" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label for="first_name">Nombre</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Ingresa tu nombre" value="<%= locals.old && old.first_name ? old.first_name : '' %>">
                        <% if(locals.errors && errors.first_name){ %>
                            <small class="form-text text-danger"><%= errors.first_name.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group mb-3">
                        <label for="last_name">Apellidos</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Ingresa tus apellidos" value="<%= locals.old && old.last_name ? old.last_name : '' %>">
                        <% if(locals.errors && errors.last_name){ %>
                            <small class="form-text text-danger"><%= errors.last_name.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu email" value="<%= locals.old && old.email ? old.email : '' %>">
                        <% if(locals.errors && errors.email){ %>
                            <small class="form-text text-danger"><%= errors.email.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group mb-3">
                        <label for="user_name">Usuario</label>
                        <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Ingresa tu usuario" value="<%= locals.old && old.user_name ? old.user_name : '' %>">
                        <% if(locals.errors && errors.user_name){ %>
                            <small class="form-text text-danger"><%= errors.user_name.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" value="<%= locals.old && old.password ? old.password : '' %>">
                        <% if(locals.errors && errors.password){ %>
                            <small class="form-text text-danger"><%= errors.password.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group mb-4">
                        <label for="image">Avatar</label>
                        <input type="file" class="form-control" id="image" name="image">
                        <% if(locals.errors && errors.image){ %>
                            <small class="form-text text-danger"><%= errors.image.msg %></small>
                        <% } %>
                    </div>
                    <div class="d-grid gap-2 mt-5">
                        <button type="submit" class="btn btn-primary salmon-btn">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-center mt-5">¿Ya tienes cuenta? <a href="/auth/register">Ingresa aqui</a></p>
    </div>
    
    <%- include('../partials/footer') %>
</body>
</html>